
<div id="detail-panel">
    <div class="panel-header">
        <div>
            <div>
                <div id="dp-title" class="text-sm font-bold uppercase tracking-wider text-[#DFE4E6]">Détail Composant</div>
                <div id="dp-subtitle" class="text-[9px] text-[#7A9AA5] mt-0.5 plc-mono">Sélectionner un composant</div>
            </div>
            <button onclick="SynopticHMI.closePanel()" class="close-btn">✕ FERMER</button>
        </div>
    </div>
    <div id="dp-body" class="panel-body wincc-scrollbar"></div>
</div>
