


<nav class="bg-[#BAC3C7] border-b border-[#7F8C8D] flex px-2 pt-1.5 gap-1 select-none">
    <button id="btn-tab-overview" onclick="switchTab('overview')" class="wincc-btn tab-active text-xs uppercase tracking-wider px-4 py-1.5 border-t border-x border-[#7F8C8D] rounded-t-sm transition-all duration-75">
        <i class="fa-solid fa-chart-line mr-1.5 text-slate-600"></i>Main Overview
    </button>
    <button id="btn-tab-vfd" onclick="switchTab('vfd')" class="wincc-btn tab-inactive text-xs uppercase tracking-wider px-4 py-1.5 border-t border-x border-[#7F8C8D] rounded-t-sm transition-all duration-75">
        <i class="fa-solid fa-bolt mr-1.5 text-amber-600"></i>Veichi VFD AC10
    </button>
</nav>